In [5]:
#Function that computes the volume of sphere given its radius

def volume_sphere(rad):
    return (4.0/3)*(3.14)*(rad**3)

volume_sphere(5)

In [7]:
volume_sphere(10)

4186.666666666667

In [10]:
#Function to check whether a number is in a given range(inclusive of high and low)

def nos_in_range(num,low,high):
    if num in range(low,high):              
        print(f'{num} is in range')
    else:
        print ('Number is out of range.')

In [11]:
nos_in_range(30,10,100)

30 is in range

In [12]:
nos_in_range(300,10,100)

Number is out of range.

In [15]:
def nos_in_range_bol(num,low,high):
    return num in range(low,high)

In [16]:
nos_in_range_bol(30,10,100)

True

In [17]:
nos_in_range(30,10,100)

30 is in range

In [18]:
nos_in_range_bol(1,10,100)

False

In [25]:
#Write a function that accepts string and calculate the upper case and lower case

def cal_string(x):
    d={"upper":0,"lower":0}
    for s in x :
        if s == s.upper():
            d["upper"] += 1
        elif s == s.lower():
            d["lower"] += 1
        else:
            pass
        
    print ("The original String is : ", x) 
    print ("No of upper case characters: ",d["upper"])
    print ("No of lower case characters: ",d["lower"])

In [26]:
x="My name is parag"
cal_string(x)

The original String is :  My name is parag
No of upper case characters:  4
No of lower case characters:  12

In [8]:
#Python function that takes a list and returns a new list with unique elements of the first list

def unique_list(p):
    x = []
    for a in p:
        if a not in x:
            x.append(a)
    return x

In [9]:
unique_list([1,1,2,2,3,4,5,5,5,5,6])

[1, 2, 3, 4, 5, 6]

In [16]:
#Python function to multiply all nos is list

def multiple(num):
    total = num[0]
    for x in num:
        total *= x        
    return total

In [18]:
multiple([2,3,4,5])

240

In [20]:
#python function to check whether a passed string palindrome or not
def palindrome(s):
    return s == s[::-1]

In [21]:
palindrome('helleh')

True

In [22]:
palindrome('hello')

False