In [1]:
import math

In [2]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [3]:
value = 4.35

In [4]:
math.floor(value)

4

In [5]:
math.ceil(value)

5

In [6]:
round(value)

4

In [7]:
math.pi

3.141592653589793

In [8]:
from math import pi

In [9]:
pi

3.141592653589793

In [10]:
math.e

2.718281828459045

In [11]:
math.tau

6.283185307179586

In [12]:
math.inf

inf

In [13]:
math.nan

nan

In [14]:
math.e

2.718281828459045

In [15]:
# Log Base e
math.log(math.e)

1.0

In [16]:
# Will produce an error if value does not exist mathmatically
math.log(0)

ValueError: math domain error

In [17]:
math.log(10)

2.302585092994046

In [18]:
math.e ** 2.30258509299404

9.999999999999943

In [19]:
math.log(100,10)

2.0

In [20]:
10**2

100

In [21]:
import random

In [22]:
random.randint(0,100)

7

In [23]:
random.randint(0,100)

90

In [24]:
random.seed(101)
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))

74
24
69
45
59

In [25]:
random.randint(0,100)

6

In [26]:
mylist = list(range(0,20))

In [27]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
random.choice(mylist)

16

In [29]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
random.choices(population=mylist,k=10)

[4, 4, 5, 13, 4, 19, 1, 3, 1, 15]

In [31]:
random.sample(population=mylist,k=10)

[11, 6, 15, 10, 7, 16, 12, 18, 13, 3]

In [32]:
random.shuffle(mylist)

In [33]:
mylist

[12, 7, 19, 11, 0, 3, 17, 8, 15, 4, 5, 18, 16, 10, 1, 6, 9, 14, 13, 2]

In [34]:
random.uniform(a=0,b=100)

0.6518601416265479

In [35]:
random.gauss(mu=0,sigma=1)

-1.206313719234682

In [36]:
text = "The person's phone number is 408-555-1234. Call soon!"

In [37]:
'phone' in text

True

In [38]:
import re

In [39]:
pattern = 'phone'

In [40]:
re.search(pattern,text)

In [41]:
pattern = "NOT IN TEXT"

In [42]:
re.search(pattern,text)

In [43]:
pattern = 'phone'

In [44]:
match = re.search(pattern,text)

In [45]:
match

In [46]:
match.span()

(13, 18)

In [47]:
match.start()

13

In [48]:
match.end()

18

In [49]:
text = "my phone is a new phone"

In [50]:
match = re.search("phone",text)

In [51]:
match.span()

(3, 8)

In [52]:
matches = re.findall("phone",text)

In [53]:
matches

['phone', 'phone']

In [54]:
len(matches)

2

In [55]:
for match in re.finditer("phone",text):
    print(match.span())

(3, 8)
(18, 23)

In [56]:
match.group()

'phone'

In [57]:
text = "My telephone number is 408-555-1234"

In [58]:
phone = re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)

In [59]:
phone.group()

'408-555-1234'

In [60]:
re.search(r'\d{3}-\d{3}-\d{4}',text)

In [61]:
phone_pattern = re.compile(r'(\d{3})-(\d{3})-(\d{4})')

In [63]:
results = re.search(phone_pattern,text)

In [64]:
# The entire result
results.group()

'408-555-1234'

In [65]:
results.group(1)

'408'

In [66]:
results.group(2)

'555'

In [67]:
results.group(3)

'1234'

In [68]:
results.group(4)

IndexError: no such group

In [69]:
re.search(r"man|woman","This man was here.")

In [70]:
re.search(r"man|woman","This woman was here.")

In [71]:
re.findall(r".at","The cat in the hat sat here.")

['cat', 'hat', 'sat']

In [72]:
re.findall(r".at","The bat went splat")

['bat', 'lat']

In [73]:
re.findall(r"...at","The bat went splat")

['e bat', 'splat']

In [74]:
re.findall(r'\S+at',"The bat went splat")

['bat', 'splat']

In [75]:
re.findall(r'\d$','This ends with a number 2')

['2']

In [76]:
# Starts with a number
re.findall(r'^\d','1 is the loneliest number.')

['1']

In [77]:
phrase = "there are 3 numbers 34 inside 5 this sentence."

In [78]:
re.findall(r'[^\d]',phrase)

['t',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e',
 '.']

In [79]:
re.findall(r'[^\d]+',phrase)

['there are ', ' numbers ', ' inside ', ' this sentence.']

In [80]:
test_phrase = 'This is a string! But it has punctuation. How can we remove it?'

In [81]:
re.findall('[^!.? ]+',test_phrase)

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'punctuation',
 'How',
 'can',
 'we',
 'remove',
 'it']

In [82]:
clean = ' '.join(re.findall('[^!.? ]+',test_phrase))

In [83]:
clean

'This is a string But it has punctuation How can we remove it'

In [84]:
text = 'Only find the hypen-words in this sentence. But you do not know how long-ish they are'

In [85]:
re.findall(r'[\w]+-[\w]+',text)

['hypen-words', 'long-ish']

In [86]:
text = 'Hello, would you like some catfish?'
texttwo = "Hello, would you like to take a catnap?"
textthree = "Hello, have you seen this caterpillar?"

In [87]:
re.search(r'cat(fish|nap|claw)',text)

In [88]:
re.search(r'cat(fish|nap|claw)',texttwo)

In [89]:
re.search(r'cat(fish|nap|claw)',textthree)

In [90]:
def func_one(n):
    '''
    Given a number n, returns a list of string integers
    ['0','1','2',...'n]
    '''
    return [str(num) for num in range(n)]

In [91]:
func_one(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [92]:
def func_two(n):
    '''
    Given a number n, returns a list of string integers
    ['0','1','2',...'n]
    '''
    return list(map(str,range(n)))

In [93]:
func_two(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [94]:
import time

In [95]:
# STEP 1: Get start time
start_time = time.time()
# Step 2: Run your code you want to time
result = func_one(1000000)
# Step 3: Calculate total time elapsed
end_time = time.time() - start_time

In [96]:
end_time

0.22134041786193848

In [97]:
# STEP 1: Get start time
start_time = time.time()
# Step 2: Run your code you want to time
result = func_two(1000000)
# Step 3: Calculate total time elapsed
end_time = time.time() - start_time

In [98]:
end_time

0.22878265380859375

In [99]:
import timeit

In [100]:
setup = '''
def func_one(n):
    return [str(num) for num in range(n)]
'''

In [101]:
stmt = 'func_one(100)'

In [102]:
timeit.timeit(stmt,setup,number=100000)

1.3973630999680609

In [103]:
setup2 = '''
def func_two(n):
    return list(map(str,range(n)))
'''

In [104]:
stmt2 = 'func_two(100)'

In [105]:
timeit.timeit(stmt2,setup2,number=100000)

1.2037627000827342